@import "~bootstrap/scss/bootstrap";

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 0px !Important;
}

// HEADER
.partners {
    background-color: royalblue;
    color: white;
    font-weight: 600;
    #partnerWrapper{
    display: flex;
    justify-content: flex-end;
align-items: center;
button {
    background: transparent;
    border: none;  
}}
}

.navLogo {
    height: 80px;
}

#navbarSettings {
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.searchBar {
display: flex;}


// FOOTER
footer {
background-color: black;
background-image: url(../images/footer-bg.jpg);
color: white;

#footerMain {
    height: 400px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;

}

.linkTitle {

    font-weight: bold;
    font-size: 1.2rem;
}
    
a {
color: grey;
    &:visited {color: grey;
    }

    &:hover {
        color: white;    
    }}

.credits {
color: grey;
a{
    color:royalblue ;
        &:visited {
         color: royalblue;
        }
}
}
.imgContainer {
height: 400px;
display: flex;
overflow: hidden;
align-items: center;
.logoBg{
    height: 130%;
}
}
#socialSection {
background-color: #303030;
#socialContainer {
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;

    a {
        color: white;
    }
.signUp {
    background-color: transparent;
border: 2px solid royalblue;
padding: 10px;
font-weight: bold;
opacity: 1;
&:hover  {
    background-color: royalblue;
}
}

.follow {
    font-weight: bold;
    color: royalblue;
    font-size: 1.2rem;
    margin-right: 30px;
}
.socials {
    display: flex;
    align-items: center;
    button {
        background-color: transparent;
        border: none;
    }
}}}
}

// COMICS

.jumboContainer {
    height: 400px;
    overflow: hidden;
 
}

#comicsWrapper {
    background-color: #303030;
    position: relative;
    #comicsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .label {
        position: absolute;
        top: 0;
        transform: translate(0, -50%);
        background-color: royalblue;
        color: white;  
        font-weight: bold;
        font-size: 1.5rem;
        padding: 10px;  }
.comicCard{
    text-transform: uppercase;
    font-weight: 500;
        .comicCover {
            width: 100%;
            aspect-ratio: 2/3;
        }
    p {
        color: white;
        margin: 10px 0;
    }
    }
   
  }
  .loadMore {
    padding: 10px 60px;
    font-weight: 700;
}

// COMICS PAGE UTILITIES BLUE

#blutilities {
    background-color: royalblue;
    padding: 60px 30px;
a {
    color: white;
    font-weight: 500;
}
    img {
        height: 60px;
        margin-right:10px;
    };
}

// COMIC DETAILS PAGE

#detailsWrapper {
    .thumbSupport{
        height: 60px;
        background-color: royalblue;
        position: relative;

        .thumbContainer{
            position: relative;
            img {
                position: absolute;
                bottom: -30px;
                height: 300px;
                border: 2px solid white;
            }}
    }

    .comicTitle {
        text-transform: uppercase;
        color: #003a5d ;
        margin: 20px 0;

    }

    .availBar {
        background-color: limegreen;
        padding: 20px 30px;
        color: white;
        border-bottom: 2px solid green;
        margin: 20px 0;

        font-weight: bold;
        display: flex;
        .availLeft {
             display: flex;
             justify-content: space-between;
                 .price{ 
                    display: inline-block;
                 }
             }

        .availRight {
            display: flex;                
            justify-content: center;
            align-items: center;

    
            .checkAvail {
                background-color: transparent;
                border: none;
                color: white;
                font-weight: bold;
            }
    }
  
    }

    .adContainer{
    .ads {
        display: block;
        color: #303030;
        font-weight: bold;
        text-align: right;
    }}


    .comicSpecs {
        background-color: #f6f6f6 ;
        border-top: 1px solid lightgray ;

    .colTitle {
        font-size: 1.8rem;
        font-weight: 600;
        color: #003a5d;
        margin: 20px 0;
    }
    .listRow {
        display: flex;
        padding: 10px 0;
        border-top: 1px solid lightgray ;

        &:last-child {
            border-bottom: 1px solid lightgray ;

        }
        .rowTitle {
            color: #003a5d;
            font-weight: 500;
        }
        .byPeople a{
            font-weight: 500;

        }
        .specDetail {
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    #utilities {
        margin-top: 100px;
        border-top: 1px solid lightgrey;
        border-top: 1px solid lightgrey;

        a{
            color: lightgray;
            font-weight: bold;

            img {
                height: 60px;
                filter: invert(0%) sepia(0%) saturate(6319%) hue-rotate(66deg) brightness(125%) contrast(70%);

            }
        }

        .utilCard {
            display: flex;
            align-items:start;
            justify-content: space-between;
        }

        .bordered {
            border-left: 1px solid lightgrey;
            &:last-of-type{
            border-right: 1px solid lightgrey;}

        }
    }
    }
}

