@import "~bootstrap/scss/bootstrap";

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;

    &:visited {
        color: black;
    }
}

// HEADER
.partners {
    background-color: royalblue;
    color: white;
    font-weight: 600;
    #partnerWrapper{
    display: flex;
    justify-content: flex-end;
align-items: center;
button {
    background: transparent;
    border: none;  
}}
}

.navLogo {
    height: 80px;
}

#navbarSettings {
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.searchBar {
display: flex;}


// FOOTER
footer {
background-color: black;
background-image: url(../images/footer-bg.jpg);
color: white;

#footerMain {
    height: 400px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;

}

.linkTitle {

    font-weight: bold;
    font-size: 1.2rem;
}
    
a {
color: grey;
    &:visited {color: grey;
    }

    &:hover {
        color: white;    
    }}

.credits {
color: grey;
a{
    color:royalblue ;
        &:visited {
         color: royalblue;
        }
}
}
.imgContainer {
height: 400px;
display: flex;
overflow: hidden;
align-items: center;
.logoBg{
    height: 130%;
}
}
#socialSection {
background-color: #303030;
#socialContainer {
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;

    a {
        color: white;
    }
.signUp {
    background-color: transparent;
border: 2px solid royalblue;
padding: 10px;
font-weight: bold;
opacity: 1;
&:hover  {
    background-color: royalblue;
}
}

.follow {
    font-weight: bold;
    color: royalblue;
    font-size: 1.2rem;
    margin-right: 30px;
}
.socials {
    display: flex;
    align-items: center;
    button {
        background-color: transparent;
        border: none;
    }
}}}
}